doctype html
html
    head
        title No Autorizado
    body
        h1 Página no autorizada
        p Lo sentimos, no tienes permiso para acceder a esta página.
        a(href='/') Regresar a la página principal