doctype html
html
    head
        title= titulo
    body
        h1 P치gina no encontrada
        p Lo sentimos, la p치gina que est치s buscando no existe.
        a(href='/') Regresar a la p치gina principal