doctype html
html
    head
        title Error Interno
    body
        h1 Error Interno del Servidor
        p Lo sentimos, ha ocurrido un error inesperado en el servidor. Por favor, intenta más tarde.
        a(href='/') Regresar a la página principal