doctype html
html
  head
    title Login
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css")
    style.
      html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
      }

      .container {
        flex: 1;
      }

      .card-title {
        font-size: 2rem;  
        font-weight: 600;
        color: #333;
      }

      .btn-primary {
        background-color: #5a6268;
        border: none;
        color: white;
        transition: background-color 0.3s ease;
      }

      .btn-primary:hover {
        background-color: #4e555b;
      }

      footer {
        background-color: #343a40;
        color: white;
        padding: 10px 0;
        font-size: 0.9rem;
        box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
        margin-top: auto;  
      }

      footer p {
        margin-bottom: 0;
      }

      .btn-menu {
        position: absolute;
        top: 15px;   
        left: 15px;  
        z-index: 10;
        background-color: #5a6268; 
        border: 1px solid #5a6268; 
        color: white;
        padding: 0.375rem 0.75rem; 
        font-size: 0.875rem; 
        text-align: center;
        cursor: pointer;
        border-radius: 0.375rem; 
        transition: background-color 0.3s ease, border-color 0.3s ease;
        text-decoration: none; 
      }

      .btn-menu:hover {
        background-color: #4e555b; 
        border-color: #4e555b;
      }

      .btn-menu:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
      }

      .error-message {
        color: #a94442; 
        font-weight: normal;
        font-size: 0.9rem; 
        margin-bottom: 1rem;
        font-family: 'Arial', sans-serif; 
        text-align: right; 
      }

  body
    a(href="/" class="btn-menu") Menú Principal

    .container.mt-5
      .row.justify-content-center
        .col-md-6
          .card.shadow.p-5
            .card-title.text-center Iniciar Sesión

            form(method="POST" action="/login")
              .mb-3
                label(for="username" class="form-label") Usuario
                input#username.form-control(type="text" name="username" placeholder="Ingrese su usuario" required)

              .mb-3
                label(for="password" class="form-label") Contraseña
                input#password.form-control(type="password" name="password" placeholder="Ingrese su contraseña" required)

              if error
                p.error-message= error

              .d-grid
                button.btn.btn-primary(type="submit") Iniciar Sesión

            .text-center.mt-3
              span ¿No tienes una cuenta? 
              a(href="/user/register" class="btn btn-link p-0 align-baseline") Regístrate aquí

    footer.text-center
      p &copy; 2024 Comercio Electrónico
